body {
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    background-color: #181818;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    padding: 40px;
    width: 700px;
    color: #fff;
}

.card h1 {
    margin-bottom: 10px;
    font-size: 40px;
    justify-content: center;
    text-align: center;
}

.card p {
    font-size: 17px;
    color: #b2cad5;
    justify-content: center;
    text-align: center;
    margin-bottom: 16px;
}

form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    font-weight: 500;
    color: #ddd;
    margin-bottom: 8px;
}

input {
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background: #2a2a2a;
    color: white;
}

input::placeholder {
    color: #888;
}

.main-btn {
    background-color: #2f03b5;
    border: none;
    padding: 12px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

.main-btn:hover {
    background-color: #4918de;
}

.bottom-text {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-top: 30px;
}

.secondary-btn {
    display: block;
    margin: 10px auto 0;              /* centers the button horizontally */
    padding: 10px 20px;
    border: 2px solid #2e6577;
    color: #2e6577;
    border-radius: 8px;
    
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    transition: 0.3s;
    text-align: center;
    font-size: 16px;
}
.secondary-btn:hover {
    background-color: #3b8097;
    color: #fff;
}
