body {
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url('Desktop\ -\ 2.png');
    background-size: cover;                
    background-position: center;          
    background-repeat: no-repeat;         
}

.auth-container {
    background-color: #181818;
    border-radius: 12px;
    box-shadow: 0 0 20px #010d22;
    padding: 50px; 
    width: 700px;
    color: #fff;
}

.card h3 {
    margin-bottom: 0px;   
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.card h6 {
    margin-top: 3px;      
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    color: #7289b1;
    font-weight: 120;
    
}

.section-divider {
    border: none;
    border-top: 2px solid #5559618a;
    width: 90%;
    margin-top: 40px; /* space above and below, centered */
}

.card h4 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;

    background: linear-gradient(270deg, #0B64FF, #9f13ce, #0B64FF);
    background-size: 300% 100%;  
    
    background-clip: text;
    -webkit-background-clip: text;
    
    color: transparent;
    -webkit-text-fill-color: transparent;

    animation: gradientTextMove 4s linear infinite;
}

@keyframes gradientTextMove {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.card p {
    font-size: 20px;
    color: #bbb;
    text-align: center;
    margin-bottom: 10px;
}


.card a {
    color: #9f13ce;
    text-decoration: none;
    
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    font-weight: 500;
    color: #ddd;
    margin-bottom: 8px;
}

input {
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background: #2a2a2a;
    color: white;
}

input::placeholder {
    color: #888;
}

.main-btn {
    background-color: #0B64FF;
    border: none;
    padding: 12px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
}

.main-btn:hover {
    background-color: #2874f9
}

.secondary-btn {
    display: block;
    margin: 20px auto 0;  /* center align and space from top */
    padding: 10px 20px;
    
    border-radius: 8px;
    border: 2px solid #9f13ce;
    color: #9f13ce;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
    font-size: 20px;
    transition: 0.3s;
    text-align: center;
}

.secondary-btn:hover {
    font-size: 20px;
    background-color: #330243;
    color: #ffffff;

}

.bottom-text {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
}

.bottom-text p {
    margin: 0 0 2px 0; /* Removes extra space and adds gap below text */
}


