<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up | SecureVault Pro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
    <div class="auth-container">
        <div class="card">
           
            <h3>SecureVault Pro</h3>
            <p class="tagline">Secure your credentials hassle - free!</p>
            <hr class="section-divider">
            <h4>One Step to Secure Everything</h4>
            
            <form action="{{ url_for('auth.signup') }}" method="POST">
                <label>Username</label>
                <input type="text" name="username" placeholder="Choose a username" required>

                <label>Email</label>
                <input type="email" name="email" placeholder="Enter your email" required>

                <label>Password</label>
                <input type="password" name="password" placeholder="Create a password" required>

                <button type="submit" class="main-btn">Sign Up</button>
            </form>

            <p class="bottom-text">Already have an account?</p>
            <a href="{{ url_for('auth.login') }}" class="secondary-btn">Login</a>
        </div>
    </div>
</body>
</html>
